html {
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,255,0,1) 50%, rgba(255,0,0,1) 100%);
}

body {
    text-align: center;
    color: OrangeRed;
    background-color: DarkBlue;
    border: 1.25em groove OrangeRed;
    /* border: 1.25em groove yellow; */
    border-radius: 35px;

    max-width: 800px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 1rem;
}

a {
    background-color: aliceblue;
    border: 2px solid black;
    text-decoration: none;
    padding: 1.5px;
    font-family: 'Times New Roman', Times, serif;
}

a:visited {
    color: purple;
}

a:hover {
    text-decoration: underline;
    color: LightSkyBlue;
}

a:active {
    color: DarkSlateGray;
}

header img {
    width: 4rem;
}

header {
    font-size: 2rem;
    border: 3px solid gold;
    margin: 2rem;
    padding: 3px;
    border-radius: 5px;
    
}

header a {
    font-size: 1rem;
}

.logo {
    text-shadow: -4px -3px 3px rgb(0, 191, 255)
        /*deepskyblue*/
    ;
    transform: skewX(5deg);
    font-family: 'Sansita Swashed', cursive;
}

#vaadimg {
    width: 130px;
    position: fixed;
    bottom: 0;
    right: 0;
}

@media screen and (width <=700px) {
    #vaadimg {
        width: 40px;
        position: fixed;
        bottom: 0;
        right: 0;
    }
}